# Ignore the node modules data folder
node_modules/*

# Ignore the logs folder
logs/*

# Ignore the script directory as they are separate git repositories.
scripts/*

# Ignore the sensitive environment variables and secret files
*.env
!example.env
data/*.pem