<div class="header">Wordle+</div>
<div class="button-container">
  <button class="" type="button" disabled>How to Play</button>
  <button class="" type="button">Quick Game</button>
  <button class="" type="button" disabled>Custom Game</button>
</div>