<%- include('../partials/header.ejs') %>

<!-- Loading Container -->
<div class="content hidden" id="loading-container">
  <span class="loader"></span>
</div>

<!-- Home Container -->
<%- include('./home-container.ejs') %>

<!-- Game Container -->
<div
  class="content <%- (game === undefined ? ' hidden' : '') %>"
  id="game-container"
></div>

<%- include('../partials/footer.ejs') %>
