</div>

<script type="text/javascript" src="/assets/js/game.js"></script>
<script type="text/javascript" src="/assets/js/gameboard.js"></script>
<script type="text/javascript" src="/assets/js/script.js"></script>
</body>
</html>