<div class="header"><%- game.word %></div>

<div class="board">
  <% for (var j = 0; j < (game.maxAttempts - game.attempts.length); j++) { %>
  <div class="word-row">
    <% for (var i = 0; i < game.word.length; i++) { %>
    <div class="square <%- j === game.attempts.length ? 'active' : '' %>">
      <p class="square-value"></p>
    </div>
    <% } %>
  </div>
  <% } %>
</div>
