name: CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build, lint/test, push Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/grid-of-words:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
