name: CD Pipeline
on:
  workflow_run:
    workflows:
      - "CI Pipeline"
    types:
      - completed

permissions:
  contents: read
  packages: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to production
        if: ${{ github.event.workflow_run.name == 'CI Pipeline' && github.event.workflow_run.conclusion == 'success' }}
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.DEPLOY_HOST }}
          username: ${{ secrets.DEPLOY_USER }}
          key: ${{ secrets.DEPLOY_KEY }}
          port: ${{ secrets.DEPLOY_PORT }}
          script: |
            echo "${{ secrets.GHCR_TOKEN }}" | docker login ghcr.io -u ronbodnar --password-stdin
            cd grid-of-words
            docker compose pull app
            docker compose up -d --remove-orphans --force-recreate
